[submodule "iOS/LifeCycle/LifeCycle/Libraries/AFNetworking"]
	path = iOS/LifeCycle/LifeCycle/Libraries/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
[submodule "iOS/LifeCycle/LifeCycle/Libraries/iOS-SDK"]
	path = iOS/LifeCycle/LifeCycle/Libraries/iOS-SDK
	url = https://github.com/Estimote/iOS-SDK
[submodule "iOS/LifeCycle/LifeCycle/Libraries/PayPal-iOS-SDK"]
	path = iOS/LifeCycle/LifeCycle/Libraries/PayPal-iOS-SDK
	url = https://github.com/paypal/PayPal-iOS-SDK.git
[submodule "iOS/LifeCycle/LifeCycle/Libraries/MHFacebookImageViewer"]
	path = iOS/LifeCycle/LifeCycle/Libraries/MHFacebookImageViewer
	url = https://github.com/michaelhenry/MHFacebookImageViewer
